<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <form [formGroup]="usuario">

        <ion-item>
            <ion-label position="floating">Usuário</ion-label>
            <ion-input formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input formControlName="telcli_01"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input formControlName="telcli_02"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Celular</ion-label>
            <ion-input formControlName="cpfcnpj"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Data de nascimento</ion-label>
            <ion-input formControlName="datanascimento"></ion-input>
        </ion-item>

    </form>

    <div class="aviso-form"> {{aviso}} </div>

    <ion-button (click)="save()" expand="block" color="primary"> Salvar </ion-button>
</ion-content>