<ion-header [translucent]="true">
    <ion-toolbar>

        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card *ngFor="let i of usuarios">
        <ion-card-header>
            <ion-card-subtitle> {{ i.Email }} </ion-card-subtitle>
            <ion-card-title>{{ i.NomCli }} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button routerLink="/edit/{{i.IdCliente}}" routerDirection="forward" size="small" color="primary" style="margin-right: 15px">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button (click)="presentAlert(i.IdCliente)" size="small" color="danger">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-card-content>

    </ion-card>

</ion-content>