<ion-header>

    <ion-toolbar>
        <ion-buttons class="voltar" [routerLink]="['/tabs']" slot="start">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>Editar Usuário</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Usuário</ion-label>
        <ion-input [value]="usuario.NomCli"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input [value]="usuario.Email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary"> Salvar </ion-button>
</ion-content>